#map { 
  position: relative;
  z-index: 5;
  height:100%;
  width:100%;
  background-color: #565656;
}

 #welcome { 
  height:100vh;
  /* background-image: url("../img/kuutti.jpg"); */
  background-color:#fff;
  background-size: cover;
  background-position: center center;
  text-align:center;
}

#explore {
	font-size: 2.3rem;
}



#home{
position:fixed;	
z-index:9999;
margin-left:30px;
	}
	
	
	
.scrollable-menu {
    height: auto;
    max-height: 700px;
    overflow-x: hidden;
}
	
.on-top-of-menu {
	position: relative;
	z-index: 20;
}

.off-canvas-content {
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 200px;
	background-color: #fff;
	height: 100%;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.off-canvas-content.is-open {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.off-canvas-close {
	position: absolute;
	top: 0px;
	right: 20px;
	font-weight: bold;
	font-size: 50px;
	color: #000;

}

.off-canvas-trigger {
	position: fixed;
	top: 50%;
	left: 0;
	font-size:1.5rem;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 1em;
	z-index: 6;
	background:#fff;
	-webkit-border-top-right-radius: 100px;
	-webkit-border-bottom-right-radius: 100px;
	-moz-border-radius-topright: 100px;
	-moz-border-radius-bottomright: 100px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
}

ul {
	list-style-type: none;
	text-align: center;
}

#venice-navigation{
	padding-top:40px;
	
	}