#map { 
  position: relative;
  z-index: 5;
  height:100%;
  width:100%;
  background-color: #565656;
}

 #welcome { 
  height:100vh;
  /* background-image: url("../img/kuutti.jpg"); */
  background-color:#fff;
  background-size: cover;
  background-position: center center;
  text-align:center;
}

#explore {
	font-size: 2.3rem;
}



#home{
position:fixed;	
z-index:7;
margin-left:30px;
	}
	
	.leaflet-popup-content p {
	margin: 0px 0;
	}

	
.scrollable-menu {
    height: auto;
    max-height: 700px;
	width: 84%;
    overflow-x: hidden;
}
	
.on-top-of-menu {
	position: relative;
	z-index: 20;
}

.off-canvas-content {
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 18%;
	background-color: #fff;
	height: 100%;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.off-canvas-content.is-open {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.off-canvas-close {
	position: absolute;
	top: 0px;
	right: 20px;
	font-weight: bold;
	font-size: 50px;
	color: #000;

}

.off-canvas-trigger {
	position: fixed;
		top: 50%;
	left: 0;
	font-size:1.5rem;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font-family: 'Libre Baskerville', serif;
	padding: 1em;
	z-index: 6;
	background:#eb050e;
	-webkit-border-top-right-radius: 100px;
	-webkit-border-bottom-right-radius: 100px;
	-moz-border-radius-topright: 100px;
	-moz-border-radius-bottomright: 100px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	}

ul {
	list-style-type: none;
	text-align: center;
}

#venice-navigation{
	padding-top:60px;
	width: 90%;
	height: 90%;
	}

#acre-navigation{
	width: 70%;
	height: 70%;
}

#jerusalem-navigation{
	width: 90%;
	height: 90%;
}

#ormus-navigation{
	width: 90%;
	height: 90%;
}

#balkh-navigation{
	width: 90%;
	height: 90%;
}

#kashgar-navigation{
	width: 90%;
	height: 90%;
}

#mogao-navigation{
	width: 90%;
	height: 90%;
}

#shangdu-navigation{
	width: 90%;
	height: 90%;
}

/* POP-UPS */

*{
	box-sizing:border-box;
   -moz-box-sizing:border-box;
	margin:0;/*kein Abstand zum Browser-Rand*/
	}

html, body {
      height: 100%; /*! important for centering pop-up*/
      width: 100%;
      background: gray;
    }


    
.leaflet.popup-container {
      display: table;
      height: 100%;/*! must be 100% to show correctly*/
      width:40%;/*relative width to screens size*/
      margin: 0 auto;
    }

.leaflet.popup-table-cell {
      display: table-cell;
      vertical-align: middle;      
    }

.leaflet.popup-content {
      background-color: white;
      border-radius: 5px;
      font-family: 'Libre Baskerville', serif;


     height: 550px;
     /*padding: 10% 0 10% 0;*/
      width: auto;
    }

.leaflet.popup-heading {
	background: yellow;
	float:left;
	width: 90%;
	margin: 80px 0 50px 70px;
	font-weight: 700;
	font-size: 45px;
    }

.leaflet.popup-sub-heading {
	/*background: tomato;*/
	float:left;
	width: 90%;
	margin: 0 0 20px 70px;
	font-weight: 600;
	font-size: 15px;
	line-height: 1.5;

    }

.leaflet.wrapper-picture-text{
	width: 100%;
	/*background: yellow*/
   	overflow: hidden; /* will contain if #first is longer than #second */


}

.leaflet.popup-text {
	/*background: red;*/
	float:left;
	width: 80%;
	margin: 0 0 30px 70px;
	font-weight: 400;
	font-size: 15px;
	line-height: 2;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0 15px 0 0;
    }

.leaflet.popup-text: {
	width: 12px;
}

.leaflet.popup-text: {
	border: 1px solid gray;
}

.leaflet.popup-text: {
	background: white;
	/*background: -webkit-linear-gradient(left, #547c90, #002640);
	border: 1px solid #333;
	box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.4);*/
}

.leaflet-popup-content {
	max-height:300px;
	overflow-y:scroll;
	overflow-x:hidden;
}
